 <div class="panel-group col-md-2 col-sm-2" id="accordion">
  <div class="panel panel-default" *ngFor="let category of categories; let i=index">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="btn btn-default" data-toggle="collapse" data-parent="#accordion" href="#collapse{{i}}">
       {{category.categoryName}} ({{category.subCategories.length}})</a>
      </h4>
    </div>
    <div id= 'collapse{{i}}' class="panel-collapse collapse">
      <div class="panel-body" >
            <ul class="dropdown-menu " role="menu" aria-labelledby="dropdownMenu"
            style="display: block; position: static; margin-bottom: 5px;">
  
                <li class="dropdown-submenu" *ngFor="let subCategory of category.subCategories; let i = index">
                  <a tabindex="-1" [routerLink]="['/content/category', subCategory]">
                    {{subCategory}} ( {{category.subCategories.length}} )</a>
                      <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#">Second level</a></li>
                        <li class="dropdown-submenu">
                          <a href="#">More..</a>
                          <ul class="dropdown-menu">
                            <li><a >nasos</a></li>
                            
                            <li><a href="#">3rd level</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Second level</a></li>
                        <li><a href="#">Second level</a></li>
                      </ul>
                </li>
          </ul>
      </div>
    </div>
  </div>

</div> 