<div class="header spaces">
    <div class="col-sm-4">
          <p>(044) 537-02-22, (044) 503-80-80</p>
          <p>(044) 537-02-22, (044) 503-80-80</p>
      </div>
     

<div class="col-sm-4">
        <ul class="list-inline">
              <li><a href="">Категории</a></li>  
              <li><a href="">Телефон</a></li>  
              <li><a href="">Мобилка</a></li>  
              <li><a href="">Контакты</a></li>  
          </ul>
      </div>
    </div>
<hr>


<div class="sidebar col-md-2 col-sm-2 hidden-xs">
      <ul class="dropdown-menu" style="display: block; position: static;">  
          <li class="dropdown-submenu" *ngFor="let category of categories">
              <a href="#">{{category.categoryName}}</a>
              <ul class="dropdown-menu">
                        <li *ngFor="let subCategory of category.subCategories"  #ref>
                            <a  
                             (onclick)="refClick(ref)">{{subCategory}}</a></li>
                             
                             <button class="button prm-button"
                             (click)="onFocus(ref.value)">
                                        Click
                             </button>
                        
                </ul>
            </li>
        </ul>
</div>


 

<div class="col-sm-9  background left-space">
        <router-outlet></router-outlet>   
</div> 


